$jordy-blue:    #80ABD9;
$danube:        #688CC4;
$chetwode-blue: #5572B3;
$blue-zodiac:   #142448;
$dandelion:     #FFDC6A;
$kepple:        #43A49B;

$header-font: 'Raleway', sans-serif;
$body-font: 'Raleway', sans-serif;
